/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.mainLayout{
background: white url('bg.gif') repeat-x top left;
background-image: url('bg.gif');
background-repeat-x: repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 0%;
background-position-y: 0%;
background-origin: initial;
background-clip: initial;
background-color: #ccc;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.sendButtonInact {
  display: block;
  font-size: 16pt;
  color: #777777;
}

/** Most GWT widgets already have a style name defined */


.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.header{
	background-color: #010101;
}

.footer{
	background-color: #ccc;
}

.logo{
	font-family: "Times New Roman";
    font-size: 26px;
    color: #fff;
    margin-left:190px;
}

.welcome{
	font-family: "Times New Roman";
    font-size: 18px;
    color: #fff;
    margin-right:20px;
}

.matchCard{
	padding: 5px;
	background-color: transparent;
	border-bottom:solid;
	border-bottom-color: #000;
	border-bottom-width: 1px;
	width: 100%;
}

.selectedMatchCard{
	padding: 5px;
	background-color: #efef99;
	border-bottom:solid;
	border-bottom-color: #000;
	border-bottom-width: 1px;
	width: 100%;
}

.selectedMatchCard:hover{
	cursor:pointer;
}

.matchCard:hover{
	padding: 5px;
	background-color: #eee;
	border-bottom:solid;
	border-bottom-color: #000;
	border-bottom-width: 1px;
	width: 100%;
	cursor:pointer;
}

.gwt-TextBox-updatedInput{
	background-color: #aaffaa;
	color: #000;
}

.gwt-TextBox-defaultInput{
	background-color: #fff;
	color: #bbbbbb;
}

.listMainPanel{
	border-left:solid;
	border-left-color: #ccc;
	border-left-width: 1px;
	border-right:solid;
	border-right-color: #ccc;
	border-right-width: 1px;
}

.listPanel{
  	height: 500px;
  	width: 350px;
}

.topButton{
  padding: 3px 20px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  background: url("LetsFootball/gwt/standard/images/hborder.png") repeat-x 0px -27px;
  border: 1px outset #ccc;
  border-bottom-width:3px;
}

.topButton:hover {
  border-bottom-color: blue;
}

.topButton-selected{
  border-bottom-color:red;
}

.topButton-selected:hover {
  border-bottom-color: blue;
}

.topPanel{
	padding-top:30px;
	padding-left:190px;
  	border-bottom:solid;
	border-bottom-color: #000;
	border-bottom-width: 1px;
	margin-bottom:50px;
	width:100%;
}

.leftPanel{
	padding-left:20px;
	margin-right:50px;
	width:120px;

}

.leftButton{
  width: 120px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  background: url("LetsFootball/gwt/standard/images/hborder.png") repeat-x 0px -27px;
  border: 1px outset #ccc;
  border-right-width:3px;
}

.leftButton:hover {
  border-right-color: blue;
}


.dateCell:hover{
	cursor:pointer;
	background-color: #eee;
}

.filterButton{
	padding-right:5px;
	cursor:pointer;
	font-weight: bold;
	color:blue;
}

.filterButton:hover{
	cursor:pointer;
}

.addStage{
  	width: 85px;
  	font-size:16px;
  	margin-top:7px;
  	margin-bottom:10px;
  	text-align:center;
}

.addStage-selected{
	color: red;
	font-weight: bold;
}

.nextButton:hover{
	cursor:pointer;
}

.matchAName{
	font-size:18px;
	color:red;	
	margin-left:7px;
  	margin-right:10px;
}

.matchBName{
	font-size:18px;
	color:#009900;	
	margin-left:7px;
  	margin-right:10px;
}

.playedScore{
	font-size:18px;
	color:black;	
	font-style:bold;
}

.score{
	font-size:10px;
	color:black;	
}

.teamAContainer{
	background-color: #FFCC99;
}

.teamBContainer{
	background-color: #CCFF99;
}

.summaryLabel{
	margin-top:30px;
	font-style:italic;
}