/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.sendButtonInact {
  display: block;
  font-size: 16pt;
  color: #777777;
}

/** Most GWT widgets already have a style name defined */


.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.photoFrame{
	background-color: #ccc;
	width: 70px;
	height: 70px;
	text-align: center;
}

.header{
	background-color: #010101;
}

.footer{
	background-color: #ccc;
}

.logo{
	font-family: "Times New Roman";
    font-size: 38px;
    color: #fff;
}

.welcome{
	font-family: "Times New Roman";
    font-size: 18px;
    color: #fff;
}

.userCard{
	padding: 5px;
	background-color: #fff;
	width: 100%;
	border-top:solid;
	border-top-color: #bbb
}

.newUserCard{
	padding: 5px;
	background-color: #fff;
	width: 100%;
	border-top:solid;
	border-top-color: #bbb;
	color: #FF0000;
}

.selectedUserCard{
	padding: 5px;
	background-color: #efef00;
	width: 100%;
	border-top:solid;
	border-top-color: #efef00
}

.userCard:hover{
	padding: 5px;
	background-color: #bbb;
	width: 100%;
	border-top:solid;
	border-top-color: #bbb;
}

.newUserCard:hover{
	padding: 5px;
	background-color: #bbb;
	width: 100%;
	border-top:solid;
	border-top-color: #bbb;
	color: #FF0000;
}

.matchCard{
	padding: 5px;
	background-color: #fff;
	border-bottom:solid;
	border-bottom-color: #000;
	border-bottom-width: 1px;
	width: 100%;
}

.selectedMatchCard{
	padding: 5px;
	background-color: #efef99;
	border-bottom:solid;
	border-bottom-color: #000;
	border-bottom-width: 1px;
	width: 100%;
}

.matchCard:hover{
	padding: 5px;
	background-color: #eee;
	border-bottom:solid;
	border-bottom-color: #000;
	border-bottom-width: 1px;
	width: 100%;
}

.gwt-TextBox-updatedInput{
	background-color: #aaffaa;
	color: #000;
}

.gwt-TextBox-defaultInput{
	background-color: #fff;
	color: #bbbbbb;
}

.listMainPanel{
	border-left:solid;
	border-left-color: #000;
	border-left-width: 1px;
	border-right:solid;
	border-right-color: #000;
	border-right-width: 1px;
}

.listPanel{
  	height: 500px;
  	width: 270px;

}

.topButton{
	margin-left:20px;
	margin-right:20px;
}

.topButton:hover{
	cursor:pointer;
}

.topPanel{
	padding-top:30px;
	padding-left:120px;
  	border-bottom:solid;
	border-bottom-color: #000;
	border-bottom-width: 1px;
	margin-bottom:20px;
	width:100%;
}

.leftButton{
	padding-left:10px;
	margin-top:5px;
	cursor:pointer;
}

.leftButton:hover{
	cursor:pointer;
}

.dateCell:hover{
	cursor:pointer;
	background-color: #eee;
}

.filterButton{
	padding-right:5px;
	cursor:pointer;
	font-weight: bold;
	color:blue;
}

.filterButton:hover{
	cursor:pointer;
}

.addStage{
  	width: 100px;
  	padding-top:10px;
  	padding-bottom:10px;
  	text-align:center;
}

.addStage-selected{
	background-color: #ffdddd;
}