<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>playerServlet</servlet-name>
    <servlet-class>com.erman.football.server.service.PlayerServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>matchServlet</servlet-name>
    <servlet-class>com.erman.football.server.service.MatchServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>pitchServlet</servlet-name>
    <servlet-class>com.erman.football.server.service.PitchServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>playerServlet</servlet-name>
    <url-pattern>/LetsFootball/player</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>matchServlet</servlet-name>
    <url-pattern>/LetsFootball/match</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>pitchServlet</servlet-name>
    <url-pattern>/LetsFootball/pitch</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LetsFootball.html</welcome-file>
  </welcome-file-list>

</web-app>
